<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KittyMash</title>
</head>
<body>
    <center>
        
        <form action="/" method="post">
            <div>
            <input type="image" value="<%=image%>" name="vote" src="<%=image%> " alt="Awwwwww" width="400" height="300"> 
            <input type="image" value="<%=image2%>" name="vote" src="<%=image2%> " alt="Awwwwww" width="400" height="300"> 
            </div>
            <br>

            <p>Click on the cat most likely to win in a game of chess.</p>
            <!-- <p>Most likely to earn a PhD in physics?</p>  -->
            
        </form>
    </center>

    
</body>
</html>